= form_for @user_account do |f|
  - if @user_account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_account.errors.count, "error")} prohibited this user_account from being saved:"
      %ul
        - @user_account.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :type
    = f.number_field :type
  .field
    = f.label :status
    = f.number_field :status
  .actions
    = f.submit 'Save'
