%h1 Listing user_accounts

%table
  %thead
    %tr
      %th Type
      %th Status
      %th
      %th
      %th

  %tbody
    - @user_accounts.each do |user_account|
      %tr
        %td= user_account.type
        %td= user_account.status
        %td= link_to 'Show', user_account
        %td= link_to 'Edit', edit_user_account_path(user_account)
        %td= link_to 'Destroy', user_account, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User account', new_user_account_path
