
= simple_form_for [:admin, @account] do |f|

  .col-md-6
    = f.input :name
    = f.input :description
    = f.input :address
    = f.input :phone
    = f.input :phone2
    = f.input :website
    = f.input :plan

  .col-md-6

    Usuários desta conta

    = f.association :users, as: :check_boxes

    %ul
      - @account.users.each do |user|
        %li #{user.name} (#{user.id})


  .clearfix

  .box-footer
    = f.button :submit, 'Enviar', {class: 'btn btn-success'}
