<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Hover Data Table</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table id="example2" class="table table-bordered table-hover">
        <thead>
          <% attributes.each do |attribute| -%>
            <th><%= attribute.human_name %></th>
          <% end -%>
          <th class="action-table">
            <%%= link_to new_<%= singular_table_name %>_path(@<%= singular_table_name %>), class:'btn btn-success'  do %>
              <span class="fa fa-plus"></span>
                Novo
            <%% end %>
          </th>
        </thead>
        <tbody>
          <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
            <% attributes.each do |attribute| -%>
              <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
            <% end -%>
            <td>
              <%%= edit_buttom(edit_<%= singular_table_name %>_path(<%= singular_table_name %>)) %>
              <%%= destroy_buttom(<%= singular_table_name %>) %>
            </td>
          <%% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


