= simple_form_for [:admin, @user] do |f|
  = f.input :name, required: true
  = f.input :email, label_html: { class: 'my_class' }, required: true
  = f.input :password, label_html: { class: 'my_class' }, required: true
  = f.input :password_confirmation, label_html: { class: 'my_class' }, required: true

  .box-footer
    = cancel_buttom(admin_users_path)
    = f.button :submit, "Salvar"
