!!!
%html{"ng-app"=>"agenda"}
  = render "head"
  %body.skin-purple
    = render "header"
    .wrapper.row-offcanvas.row-offcanvas-left
      = render "layouts/application_sidebar"

      .content-wrapper{:style => "min-height: 918px;"}
        / Content Header (Page header)
        %section.content-header
          = render "shared/content_title"
          = render "shared/breadcrumb"

        / Main content
        %section.content

          - flash.each do |name, msg|
            .pad.margin.no-print
              = content_tag :div, :class => "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", :role => "alert" do
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} x
                = msg

          / Info boxes
          .row
            = yield
            %div{"ui-view"=>"content"}

    .loader.no-print{'ng-show'=>"loadingView"}
      %ul#loading
        %li.bar{'ng-repeat'=>"i in [0,1,2,3,4,5,6,7,8,9]"}
